body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;

  
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 20%;
  margin-bottom: 16px;
  padding: 0 8px;

}
.about1 {
  margin-left: 120px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.about {
       z-index: -12;
}

.about-section {
  padding: 20px;
  text-align: center;
  color: black;
  font-size: 18px;
}

.container {
  padding: 0 6px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color: #555;

@media screen and (max-width: 800px) {
  .column {
    width: 100%;
    display: block;
  }
}
